.home_module
	.title
		font-size 1.5rem
		text-transform uppercase
		margin 0 0 3.75rem
		@media (max-width: 768px)
			margin 0 0 2rem
		&:after
			content ''
			display block
			width 5rem
			margin .5rem auto 0
			border-top 2px solid
	.btn
		font-size 1rem
		color secondary
		margin 2em auto

/*_______ Destacados _______*/
.destacado
	height 380px
	margin 0 0 6rem
	align-items center
	@media (max-width: 768px)
		height 380px
		margin 0 0 4rem
	.destacado_text
		max-width 480px
		flex-basis 45%
		@media (max-width: 640px)
			flex-basis 60%
		.titular
			font-weight 600
			font-style italic
			font-size 2.05rem
			line-height 1.15em
			color white
			margin 0 0 1rem
		.btn
			color white
	&.demostramos
		background linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, .25) 90%),
				url("../images/educasound_destacado-home_bg_01.jpg")
		background-attachment fixed
		background-position center 50%
	&.sigueahi
		background linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, .25) 90%),
				url("../images/educasound_destacado-home_bg_02.jpg")
		background-attachment fixed
		background-position center top