/*_______ Sections _______*/
main
	text-align center
	margin 0 auto 6rem
	.inner
		max-width 1000px
		margin 0 auto 8rem
		padding 0 2rem
	&.page
		text-align left
		&.doscol
			.doscol-header
				background none
				margin 0 0 2rem
				padding 0
			.content
				flex-basis 55%
				margin 0 2rem 2rem 0
				@media (max-width: 800px)
				flex-basis 100%
				margin 0
				.nombrecurso
				font-weight 900
				font-size 1.75rem
				font-style italic
				letter-spacing -.05rem
				line-height .95em
				margin 0
				a
					color primary
			.ficha
				padding 2rem
				box-sizing border-box
				background-color gris_bajao
				flex-basis 40%
				@media (max-width: 800px)
				flex-basis 100%
				.inscripcion
					display block
					width 100%
					font-size 1.25rem
					line-height 1em
					text-transform uppercase
					text-align center
					color white
					margin 2rem 0 0
					padding .75rem 1rem
					border none
					box-sizing border-box
					background-color primary
					cursor pointer
	.content
		margin 0 auto 4rem
	
	.title
		margin 0 0 3.75rem
	


	&.section
	&.blog
		

	.content
		&.seccion
			text-align left
		h2
			line-height 1em
			margin 0 0 1rem
		p
			font-size 1.15rem
			line-height 1.05em
			display inline-block
			max-width 74%
			@media (max-width: 768px)
				display block
				max-width 100%