/*_______ Section Contacto _______*/
.tels
	text-align left
	flex-basis 20%
	@media (max-width: 480px)
		flex-basis 100%
.form
	text-align left
	flex-basis 70%
	@media (max-width: 480px)
		flex-basis 100%