/*_______ Singles _______*/
.post
	.post_header
		padding 0
		background none
		margin 0 0 4rem
		@media (max-width: 640px)
			margin 0 0 2rem
		.post_image
			width 100%
			margin 0 0 2rem
		.post_date
			font-size .75rem
			color gris
		.post_title
			font-style normal
			font-weight 600
			font-size 2.5rem
			line-height 1em
			text-transform none
			color negro
			margin 0
			&:after
				content ''
				display block
				width 5rem
				margin 1rem auto 0
				border-top 2px solid negro
	.content
		text-align left