/*_______ Nib _______*/
vendor-prefixes = o ms moz webkit official
@import 'nib'

/*_______ Components styles _______*/
@import 'components/variables'
@import 'components/html_tags'
@import 'components/flex'
@import 'components/forms'
@import 'components/wp_classes'
@import 'components/common_classes'
@import 'components/cookie_advise'
@import 'components/header'
@import 'components/footer'
@import 'components/menu_main'
@import 'components/menu_responsive'
@import 'components/menu_social'
@import 'components/pagination'
@import 'components/modal'
@import 'components/comments'

/*_______ Contents styles _______*/
@import 'contents/home'
@import 'contents/section_agenda'
@import 'contents/section_apps'
@import 'contents/section_blog'
@import 'contents/section_contact'
@import 'contents/section_cursos'
@import 'contents/section_team'
@import 'contents/single_curso'
@import 'contents/form_reserva'
@import 'contents/single_blog'