/*__Comentarios__*/
#comments
	width 100%
	max-width 750px
	margin 0 auto
	padding 0 .5em 4em
	box-sizing border-box
	h2
		border-top 1px solid gris_bajao
		padding 2em 0 0 0
		font-weight 300
		font-size 1.15rem
		line-height 1rem
		letter-spacing .05rem
		text-transform uppercase
		margin 0 auto 1.5em
.commentlist
	margin 0 auto 2em
.comment
	text-align left
	padding 2em 2em 1em
	margin 0 auto 2em
	.comment-body
		margin 0 0 1em
	.comment-author
		margin 0 auto .5em
		cite
			font-weight 500
			font-style normal
			font-size 1rem
		span
			font-weight 300
		img
			display inline-block
			vertical-align middle
			margin 0 .5em 0 0
		.comment-meta
			font-weight 500
			font-size .75rem
			line-height .85rem
			margin 0 auto .5rem
	p
		font-weight 300
		font-size 1rem
		line-height 1.25rem
	.reply
		text-align center
		margin 1em auto 0
		.comment-reply-link
			display inline-block
			font-weight 500
			font-size .75rem
			line-height .75rem
			letter-spacing .025rem
			text-transform uppercase
			text-align center
			color gris_claro
			border 1px solid gris_claro
			padding .5em .75em
			&:hover
				background-color gris_claro
				color white
	.children
		border-left 2px solid gris_masclaro

.comment-respond
	border-top 1px solid gris_bajao
	padding 2em 0 0 0
	.comment-reply-title
		font-weight 300
		font-size 1.15rem
		line-height 1rem
		letter-spacing .05rem
		text-transform uppercase
		margin 0 auto 1.25em
		a
			border-bottom 1px dotted gris_masclaro
			&#cancel-comment-reply-link
				font-weight 400
				font-size .75rem
				text-transform none
				color gris_claro
				margin 0 0 0 1rem
				&:before
					content 'X'
					display inline-block
					vertical-align middle
					margin 0 .5rem 0
	p
	  font-size .75rem
	  line-height 1rem

.comment-form
	text-align left
	label
		font-size .875rem
		line-height 1rem
		letter-spacing .025rem
		text-transform uppercase
		margin 0 0 .5em
	.form-submit
		font-size 1rem
		text-align center
		input
			float none
			text-transform uppercase
.form-allowed-tags
	display none