/*__Aviso Cookies__*/
#obt_ga_banner
	width 100%
	position fixed
	bottom 0
	padding 1rem 2rem !important
	background transparentify(gris, 0.8) !important
	z-index 100

#obt_ga_contenido
	float none
	width 75%
	max-width 1000px
	margin 0 auto
	@media (max-width: 640px)
		margin 0 auto 1rem
		width 100%
	h2
		font-weight 700
		font-style italic
		font-size 1.5rem
		line-height 1em
		letter-spacing -.05rem
		color white
	p
		font-size 1rem
		line-height 1em
		color white
	a
		color primary
		text-decoration none

#obt_ga_boton
	font-weight 400
	font-size .875rem
	text-transform uppercase
	text-align center
	color white
	margin 0 auto
	padding .5rem 1rem
	display inline-block
	background primary
	height auto
	@media (max-width: 640px)
		display block
		margin 0 auto 1rem
	&:hover
		background light