/*_______ Footer _______*/
footer
	margin 0 auto
	padding 0 0 5rem
	nav
		flex-basis 15%
		@media (max-width: 768px)
			flex-basis 20%
		@media (max-width: 480px)
			flex-basis 30%
			margin 0 0 2rem
		ul
			li
				display block
				margin 0 0 1rem
	.brand
		text-align center
		flex-basis 15%
		margin 0 0 0 auto
		@media (max-width: 768px)
			flex-basis 30%
		@media (max-width: 480px)
			flex-basis 100%
		.logo
			margin 0 auto .5rem
			a
				height 100px
				background-image url(../svg/educasound_logo-vert.svg)
	.credits
		font-weight 300
		font-size .75rem
		text-align center
		margin 1rem auto
		flex-basis 100%