/*_______ Menú respondón _______*/
.social_nav
	text-align center
	margin 2rem auto
	flex-basis 100%
	.social_menu
		li
			display inline-block
			width 2rem
			height 2rem
			margin 0 .75rem
			border-radius 50%
			background-color primary
			a
				display block
				text-indent -9999px
				padding .35rem 0
			&.facebook
				a
					background url(../svg/icon_facebook.svg) no-repeat center
			&.twitter
				a
					background url(../svg/icon_twitter.svg) no-repeat center
					background-size 60%
			&.youtube
				a
					background url(../svg/icon_youtube.svg) no-repeat center
					background-size 60%