/*_______ Colores _______*/
primary         = #74B843
secondary       = #40672A
light           = #A9CC3E

negro           = #1F2822
gris            = #2f2f2f
gris_claro      = #8C8C8C
gris_masclaro   = #b8b8b8
gris_bajao      = #e0e0e0
gris_muybajao   = #e6e6e6
gris_minimo     = #f0f0f0

/*_______ Fonts _______*/